<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.user.mapper.LecturerAuditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.user.object.persistent.LecturerAudit">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="audit_status" property="auditStatus" />
        <result column="audit_opinion" property="auditOpinion" />
        <result column="lecturer_user_no" property="lecturerUserNo" />
        <result column="lecturer_name" property="lecturerName" />
        <result column="lecturer_mobile" property="lecturerMobile" />
        <result column="lecturer_email" property="lecturerEmail" />
        <result column="position" property="position" />
        <result column="head_img_url" property="headImgUrl" />
        <result column="introduce" property="introduce" />
        <result column="lecturer_proportion" property="lecturerProportion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, sort, audit_status, audit_opinion, lecturer_user_no, lecturer_name, lecturer_mobile, lecturer_email, position, head_img_url, introduce, lecturer_proportion
    </sql>
    <select id="listLecturerAuditByPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from lecturer_audit where
        (select id from lecturer_audit
        <where>
            <if test="lecturerMobile != null">and lecturer_mobile like CONCAT('%', #{lecturerMobile}, '%') </if>
            <if test="lecturerName != null">and lecturer_name like CONCAT('%', #{lecturerName}, '%') </if>
            <if test="statusId != null">and status_id = #{statusId}</if>
            <if test="auditStatus != null">and audit_status = #{auditStatus}</if>
            <if test="auditStatus == null">and audit_status != 1</if>
        </where>
        order by id desc limit #{offset},1
        ) >= id
        <if test="lecturerMobile != null">and lecturer_mobile like CONCAT('%', #{lecturerMobile}, '%') </if>
        <if test="lecturerName != null">and lecturer_name like CONCAT('%', #{lecturerName}, '%') </if>
        <if test="statusId != null">and status_id = #{statusId}</if>
        <if test="auditStatus != null">and audit_status = #{auditStatus}</if>
        <if test="auditStatus == null">and audit_status != 1</if>
        order by id desc limit #{size}
    </select>

</mapper>
