<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.user.mapper.LecturerExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.user.object.persistent.LecturerExt">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="lecturer_user_no" property="lecturerUserNo" />
        <result column="total_income" property="totalIncome" />
        <result column="history_money" property="historyMoney" />
        <result column="enable_balances" property="enableBalances" />
        <result column="freeze_balances" property="freezeBalances" />
        <result column="sign" property="sign" />
        <result column="bank_card_no" property="bankCardNo" />
        <result column="bank_name" property="bankName" />
        <result column="bank_branch_name" property="bankBranchName" />
        <result column="bank_user_name" property="bankUserName" />
        <result column="bank_id_card_no" property="bankIdCardNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, sort, lecturer_user_no, total_income, history_money, enable_balances, freeze_balances, sign, bank_card_no, bank_name, bank_branch_name, bank_user_name, bank_id_card_no
    </sql>

</mapper>
