<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.user.mapper.RegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.user.entity.Region">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="province_code" property="provinceCode" />
        <result column="center_lng" property="centerLng" />
        <result column="center_lat" property="centerLat" />
        <result column="province_id" property="provinceId" />
        <result column="province_name" property="provinceName" />
        <result column="city_id" property="cityId" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="region_name" property="regionName" />
        <result column="district_name" property="districtName" />
        <result column="merger_name" property="mergerName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, level, province_code, center_lng, center_lat, province_id, province_name, city_id, city_code, city_name, region_name, district_name, merger_name
    </sql>

</mapper>
