<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.user.mapper.UserExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.user.object.persistent.UserExt">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="user_no" property="userNo" />
        <result column="user_type" property="userType" />
        <result column="mobile" property="mobile" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="nickname" property="nickname" />
        <result column="head_img_url" property="headImgUrl" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, user_no, user_type, mobile, sex, age, nickname, head_img_url, remark
    </sql>
    <select id="listUserExtByPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from sys_log where
        (select id from sys_log
        <where>
            <if test="statusId != null">and status_id = #{statusId}</if>
            <if test="nickname != null">and nickname like CONCAT('%', #{nickname}, '%') </if>
            <if test="mobile != null">and mobile like CONCAT('%', #{mobile}, '%') </if>
            <if test="beginGmtCreate != null">and gmt_create >= #{beginGmtCreate}</if>
            <if test="endGmtCreate != null">and #{endGmtCreate} >= gmt_create </if>
        </where>
        order by id desc limit #{offset},1
        ) >= id
        <if test="statusId != null">and status_id = #{statusId}</if>
        <if test="nickname != null">and nickname like CONCAT('%', #{nickname}, '%') </if>
        <if test="mobile != null">and mobile like CONCAT('%', #{mobile}, '%') </if>
        <if test="beginGmtCreate != null">and gmt_create >= #{beginGmtCreate}</if>
        <if test="endGmtCreate != null">and #{endGmtCreate} >= gmt_create </if>
        order by id desc limit #{size}
    </select>

</mapper>
