<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.course.mapper.CourseChapterPeriodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.course.object.persistent.CourseChapterPeriod">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="course_id" property="courseId" />
        <result column="chapter_id" property="chapterId" />
        <result column="period_name" property="periodName" />
        <result column="period_desc" property="periodDesc" />
        <result column="is_free" property="isFree" />
        <result column="period_original" property="periodOriginal" />
        <result column="period_discount" property="periodDiscount" />
        <result column="count_buy" property="countBuy" />
        <result column="count_study" property="countStudy" />
        <result column="is_doc" property="isDoc" />
        <result column="doc_name" property="docName" />
        <result column="doc_url" property="docUrl" />
        <result column="is_video" property="isVideo" />
        <result column="video_no" property="videoNo" />
        <result column="video_name" property="videoName" />
        <result column="video_length" property="videoLength" />
        <result column="video_vid" property="videoVid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, sort, course_id, chapter_id, period_name, period_desc, is_free, period_original, period_discount, count_buy, count_study, is_doc, doc_name, doc_url, is_video, video_no, video_name, video_length, video_vid
    </sql>

</mapper>
