<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.system.mapper.MsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.system.object.persistent.Msg">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="msg_type" property="msgType" />
        <result column="msg_title" property="msgTitle" />
        <result column="msg_text" property="msgText" />
        <result column="is_time_send" property="isTimeSend" />
        <result column="send_time" property="sendTime" />
        <result column="is_send" property="isSend" />
        <result column="is_top" property="isTop" />
        <result column="back_remark" property="backRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, sort, msg_type, msg_title, msg_text, is_time_send, send_time, is_send, is_top, back_remark
    </sql>

</mapper>
