<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.system.mapper.WebsiteNavMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.system.object.persistent.WebsiteNav">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="parent_id" property="parentId" />
        <result column="nav_name" property="navName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, sort, parent_id, nav_name
    </sql>

    <resultMap id="WebsiteNavLevelResultMap" type="io.xxnjdg.notp.system.object.domain.WebsiteNavLevelDo">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="parent_id" property="parentId" />
        <result column="nav_name" property="navName" />

        <collection property="children" ofType="io.xxnjdg.notp.system.object.domain.WebsiteNavLevelDo">
            <id column="wnid" property="id" />
            <result column="wngmt_create" property="gmtCreate" />
            <result column="wngmt_modified" property="gmtModified" />
            <result column="wnstatus_id" property="statusId" />
            <result column="wnsort" property="sort" />
            <result column="wnparent_id" property="parentId" />
            <result column="wnnav_name" property="navName" />
        </collection>
    </resultMap>

    <sql  id="getWebsiteNavLevelListByStatusId_column">
        wn.id wnid,wn.parent_id wnparent_id,wn.sort wnsort,wn.gmt_create wngmt_create,wn.gmt_modified wngmt_modified,wn.status_id wnstatus_id,wn.nav_name wnnav_name
    </sql>

    <select id="getWebsiteNavLevelListByStatusId" resultMap="WebsiteNavLevelResultMap">
        select  website_nav.*,<include refid="getWebsiteNavLevelListByStatusId_column"></include> from website_nav join website_nav wn on website_nav.id = wn.parent_id where website_nav.status_id = '1' and wn.status_id = '1' and website_nav.parent_id = '0' order by website_nav.sort desc
    </select>

</mapper>
