<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.system.mapper.WebsiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.system.object.persistent.Website">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="logo_ico" property="logoIco" />
        <result column="logo_img" property="logoImg" />
        <result column="website_title" property="websiteTitle" />
        <result column="website_keyword" property="websiteKeyword" />
        <result column="website_desc" property="websiteDesc" />
        <result column="copyright" property="copyright" />
        <result column="icp" property="icp" />
        <result column="prn" property="prn" />
        <result column="weixin" property="weixin" />
        <result column="weixin_xcx" property="weixinXcx" />
        <result column="weibo" property="weibo" />
        <result column="is_enable_statistics" property="isEnableStatistics" />
        <result column="statistics_code" property="statisticsCode" />
        <result column="is_show_service" property="isShowService" />
        <result column="service1" property="service1" />
        <result column="service2" property="service2" />
        <result column="user_agreement" property="userAgreement" />
        <result column="recruit_title" property="recruitTitle" />
        <result column="recruit_info" property="recruitInfo" />
        <result column="entry_agreement" property="entryAgreement" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, sort, logo_ico, logo_img, website_title, website_keyword, website_desc, copyright, icp, prn, weixin, weixin_xcx, weibo, is_enable_statistics, statistics_code, is_show_service, service1, service2, user_agreement, recruit_title, recruit_info, entry_agreement
    </sql>

</mapper>
