<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.course.mapper.AdvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.course.object.persistent.Adv">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="status_id" property="statusId" />
        <result column="sort" property="sort" />
        <result column="adv_title" property="advTitle" />
        <result column="adv_img" property="advImg" />
        <result column="adv_url" property="advUrl" />
        <result column="adv_target" property="advTarget" />
        <result column="adv_location" property="advLocation" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="plat_show" property="platShow" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status_id, sort, adv_title, adv_img, adv_url, adv_target, adv_location, begin_time, end_time, plat_show
    </sql>
    <select id="listAdvByPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from adv where
        (select id from adv
        <where>
            <if test="advTitle != null">and adv_title like CONCAT('%', #{advTitle}, '%') </if>
            <if test="statusId != null">and status_id = #{statusId}</if>
            <if test="platShow != null">and plat_show = #{platShow}</if>
        </where>
        order by id desc limit #{offset},1
        ) >= id
        <if test="advTitle != null">and adv_title like CONCAT('%', #{advTitle}, '%') </if>
        <if test="statusId != null">and status_id = #{statusId}</if>
        <if test="platShow != null">and plat_show = #{platShow}</if>
        order by id desc limit #{size}
    </select>

</mapper>
