<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xxnjdg.notp.course.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.xxnjdg.notp.course.object.persistent.OrderInfo">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="lecturer_user_no" property="lecturerUserNo" />
        <result column="lecturer_name" property="lecturerName" />
        <result column="user_no" property="userNo" />
        <result column="mobile" property="mobile" />
        <result column="register_time" property="registerTime" />
        <result column="order_no" property="orderNo" />
        <result column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <result column="price_payable" property="pricePayable" />
        <result column="price_discount" property="priceDiscount" />
        <result column="price_paid" property="pricePaid" />
        <result column="platform_profit" property="platformProfit" />
        <result column="lecturer_profit" property="lecturerProfit" />
        <result column="trade_type" property="tradeType" />
        <result column="pay_type" property="payType" />
        <result column="channel_type" property="channelType" />
        <result column="order_status" property="orderStatus" />
        <result column="is_show_lecturer" property="isShowLecturer" />
        <result column="is_show_user" property="isShowUser" />
        <result column="remark_cus" property="remarkCus" />
        <result column="remark" property="remark" />
        <result column="pay_time" property="payTime" />
    </resultMap>

    <resultMap id="orderInfoListByPageResultMap" type="io.xxnjdg.notp.course.object.view.OrderInfoListVO">
        <result column="gmt_create" property="gmtCreate" />
        <result column="user_no" property="userNo" />
        <result column="order_no" property="orderNo" />
        <result column="course_id" property="courseId" />
        <result column="course_logo" property="courseLogo" />
        <result column="course_name" property="courseName" />
        <result column="price_paid" property="pricePaid" />
        <result column="pay_type" property="payType" />
        <result column="order_status" property="orderStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, lecturer_user_no, lecturer_name, user_no, mobile, register_time, order_no, course_id, course_name, price_payable, price_discount, price_paid, platform_profit, lecturer_profit, trade_type, pay_type, channel_type, order_status, is_show_lecturer, is_show_user, remark_cus, remark, pay_time
    </sql>

    <select id="orderInfoListByPageCount" resultType="integer" >
        select count(id) from order_info  where order_info.user_no = #{userNo} and  <if test="orderStatus == null">order_info.order_status > 0</if> <if test="orderStatus != null">order_info.order_status = #{orderStatus}</if>  and order_info.is_show_user = 1;
    </select>

    <select id="orderInfoListByPage" resultMap="orderInfoListByPageResultMap" >
        select course_logo,order1.* from course join
        (select order_info.* from order_info
        where order_info.user_no = #{userNo} and <if test="orderStatus == null">order_info.order_status > 0</if> <if test="orderStatus != null">order_info.order_status = #{orderStatus}</if> and order_info.is_show_user = 1 and
        (select id from order_info where order_info.user_no = #{userNo} and <if test="orderStatus == null">order_info.order_status > 0</if> <if test="orderStatus != null">order_info.order_status = #{orderStatus}</if> and order_info.is_show_user = 1
        order by id desc limit #{offset},1) >= id limit #{size}) order1
        on course.id = order1.course_id;
    </select>

</mapper>
